body {
	background-color: rgb(48,48,48);
	color: rgb(197,214,190);
  font-family: monospace, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
h2 {
  margin: 1em 0 0;
  color  : rgb(180,180,180);  
}
input,
button {
  display: inline-block;
  padding: 6px 10px;
	font-size: 24px;
  line-height: normal;
  box-sizing: border-box;
}
input {
  width: 520px; 
}
button {
  float: right;
  width: 100px; 
}
input {
  background-color: rgb(197,214,190);
  color: rgb(48,48,48);
  border: 2px solid rgb(24,24,24);
  letter-spacing: 2px;
  text-transform: uppercase;
}
button {
  background-color: rgb(68, 68, 68);
  border: 1px solid rgb(164, 164, 164);
  color: rgb(190, 190, 190);  
}
.hidden {
  display: none;
}
#main {
  width: 640px; margin: 0 auto;
}
#searchForm{
  margin-bottom: 1em;
}
#searchResult {}
#searchResultItems {
  display: table; width: 100%;
  counter-reset: searchResult;
}
#searchResultItems .item {
  display: table-row;
  counter-increment: searchResult;  
}
#searchResultItems .item span {
  display: table-cell;
  font-weight: bold;
  padding: 0.25em 0;
}
#searchResultItems .item span.title:before {
  display: inline-block;
  content: counter(searchResult) ". ";
  width  : 8ex;
  color  : rgb(164,164,164);
}
#searchResultItems .item span.title {
  letter-spacing: 2px;
}
#searchResultItems .item span.box   {
  text-align: right;
  color: rgb(214,197,48);
}
#illnessList{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.illness{
  flex-basis: 20%;
}
.illness .icon        {display:inline-block;width:36px;height:36px;}
/* DIAGNOSIS ROOMS*/
.illness .icon        {background-repeat: no-repeat;
                       background-position: center, center;
                       background-color: transparent;}
.illness .icon.GP     {background-image: url(/IMAGES/ROOMS/GP.png);}
.illness .icon.GD     {background-image: url(/IMAGES/ROOMS/GD.png);}
.illness .icon.CARDIO {background-image: url(/IMAGES/ROOMS/CARDIO.png);}
.illness .icon.WARD   {background-image: url(/IMAGES/ROOMS/WARD.png);}
.illness .icon.PSY    {background-image: url(/IMAGES/ROOMS/PSY.png);}
.illness .icon.FLUID  {background-image: url(/IMAGES/ROOMS/FLUID.png);}
.illness .icon.XRAY   {background-image: url(/IMAGES/ROOMS/XRAY.png);}
.illness .icon.MEGA   {background-image: url(/IMAGES/ROOMS/MEGA0.png);}
.illness .icon.DNA    {background-image: url(/IMAGES/ROOMS/DNA.png);}
.illness .icon.GP2    {background-image: url(/IMAGES/ROOMS/GP2.png);}
.illness .icon.TREAT  {background-image: url(/IMAGES/ROOMS/TREAT.png);}
/* OTHER ROOMS*/
.illness .icon.CHROMA   {background-image: url(/IMAGES/ROOMS/CHROMA.png);}
.illness .icon.CLOWN    {background-image: url(/IMAGES/ROOMS/CLOWN.png);}
.illness .icon.CRYPTO   {background-image: url(/IMAGES/ROOMS/CRYPTO.png);}
.illness .icon.DELUX    {background-image: url(/IMAGES/ROOMS/DELUX.png);}
.illness .icon.FRACTURE {background-image: url(/IMAGES/ROOMS/FRACTURE.png);}
.illness .icon.INJECTION{background-image: url(/IMAGES/ROOMS/INJECTION.png);}
.illness .icon.PANS     {background-image: url(/IMAGES/ROOMS/PANS.png);}
.illness .icon.PEST     {background-image: url(/IMAGES/ROOMS/PEST.png);}
.illness .icon.PHARMA   {background-image: url(/IMAGES/ROOMS/PHARMA.png);}
.illness .icon.RECURVE  {background-image: url(IMAGES/ROOMS/RECURVE.png);}
.illness .icon.RES      {background-image: url(/IMAGES/ROOMS/RES.png);}
.illness .icon.SHOCK    {background-image: url(/IMAGES/ROOMS/SHOCK.png);}
.illness .icon.SURGERY  {background-image: url(/IMAGES/ROOMS/SURGERY.png);}
.illness .icon.TURTLE   {background-image: url(/IMAGES/ROOMS/TURTLE.png);}
