body {
	background-color: rgb(48,48,48);
	color: rgb(197,214,190);
  font-family: monospace, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
h2 {
  margin: 1em 0 0;
  color  : rgb(180,180,180);  
}
input,
button {
  display: inline-block;
  padding: 6px 10px;
	font-size: 24px;
  line-height: normal;
  box-sizing: border-box;
}
input {
  width: 520px; 
}
button {
  float: right;
  width: 100px; 
}
input {
  background-color: rgb(197,214,190);
  color: rgb(48,48,48);
  border: 2px solid rgb(24,24,24);
  letter-spacing: 2px;
  text-transform: uppercase;
}
button {
  background-color: rgb(68, 68, 68);
  border: 1px solid rgb(164, 164, 164);
  color: rgb(190, 190, 190);  
}
.hidden {
  display: none;
}
#main {  }
#searchForm{
  margin-bottom: 1em;
}
#searchResult {}
#searchResultItems {
  display: table; width: 100%;
  counter-reset: searchResult;
}
#searchResultItems .item {
  display: table-row;
  counter-increment: searchResult;  
}
#searchResultItems .item span {
  display: table-cell;
  font-weight: bold;
  padding: 0.25em 0;
}
#searchResultItems .item span.title:before {
  display: inline-block;
  content: counter(searchResult) ". ";
  width  : 8ex;
  color  : rgb(164,164,164);
}
#searchResultItems .item span.title {
  letter-spacing: 2px;
}
#searchResultItems .item span.box   {
  text-align: right;
  color: rgb(214,197,48);
}
#levelList > .inner {
  display: flex;
  /*justify-content: center;*/
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;  
}
.level {
  flex-basis: 16%;
  padding: 4px 4px 4px 4px ;
  /*min-height: 36px;*/
  line-height: 1;
  margin: 4px;  
}
.level {
  border: solid 1px;
  border-radius: 8px;
  background-color: rgba(197,214,190,0.15);
  font-weight: bold;
  text-shadow: 0 0 1px #000;
}






#illnessList > .inner{
  display: flex;
  /*justify-content: center;*/
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;
}

.illness{
  flex-basis: 16%;
  padding: 4px 4px 4px 44px ;
  min-height: 36px;
  line-height: 1;
  margin: 4px;
}
.illness {
  border: solid 1px;
  border-radius: 8px;
  background-color: rgba(197,214,190,0.15);
  font-weight: bold;
  text-shadow: 0 0 1px #000;
}
.illness.selected {
  color: #fff;
  border-width: 2px;
  padding: 3px 3px 3px 43px ;
  background-color: rgba(255,255,255,0.35);
}
/* DIAGNOSIS ROOMS*/
.room.icon          {background-repeat: no-repeat;
                     background-position: 4px center;
                     min-width: 36px;min-height: 36px;}
.room.icon.GP       {background-image: url(image/room/GP.png);}
.room.icon.GD       {background-image: url(image/room/GD.png);}
.room.icon.CARDIO   {background-image: url(image/room/CARDIO.png);}
.room.icon.WARD     {background-image: url(image/room/WARD.png);}
.room.icon.PSY      {background-image: url(image/room/PSY.png);}
.room.icon.FLUID    {background-image: url(image/room/FLUID.png);}
.room.icon.XRAY     {background-image: url(image/room/XRAY.png);}
.room.icon.MEGA     {background-image: url(image/room/MEGA.png);}
.room.icon.DNA      {background-image: url(image/room/DNA.png);}
.room.icon.GP2      {background-image: url(image/room/GP2.png);}
.room.icon.TREAT    {background-image: url(image/room/TREAT.png);}
/* OTHER ROOMS*/  
.room.icon.CHROMA   {background-image: url(image/room/CHROMA.png);}
.room.icon.CLOWN    {background-image: url(image/room/CLOWN.png);}
.room.icon.CRYPTO   {background-image: url(image/room/CRYPTO.png);}
.room.icon.DELUX    {background-image: url(image/room/DELUX.png);}
.room.icon.FRACTURE {background-image: url(image/room/FRACTURE.png);}
.room.icon.INJECTION{background-image: url(image/room/INJECTION.png);}
.room.icon.PANS     {background-image: url(image/room/PANS.png);}
.room.icon.PEST     {background-image: url(image/room/PEST.png);}
.room.icon.PHARMA   {background-image: url(image/room/PHARMA.png);}
.room.icon.RECURVE  {background-image: url(image/room/RECURVE.png);}
.room.icon.RES      {background-image: url(image/room/RES.png);}
.room.icon.SHOCK    {background-image: url(image/room/SHOCK.png);}
.room.icon.SURGERY  {background-image: url(image/room/SURGERY.png);}
.room.icon.TURTLE   {background-image: url(image/room/TURTLE.png);}


.diagRoom.icon {display: inline-block;}